.formContainer {
  border:1px solid #eee;
  background-color: #FFF;
  padding:10px;
  margin-top:10px;
}
.formTitle {
  border-bottom: 1px solid #eee;
  padding:5px;
  font-size: 26px;
  font-family:Raleway;
}
.formText {
  padding:5px;
}
