html, body {
  height:100%;
}

body {
  background-color: #fafafa;
}
.ui.grid {
  height:100%
}

.ui.inverted.vertical.labeled.icon.ui.overlay.left.visible.sidebar.menu {
  width:20%;
  background-color: #101010;
}

.ui.grid>[class*="four wide"].column {
  padding:0;
  margin-left:14px;
}
.ui.items>.item .extra {
  top:-50px;
}
.ui.grid {
  height:100%;
  padding:0;
}
.ui.comments {
  max-width:100%;
}
.content {
  height:100px;
}
.description {
  overflow: hidden;
  width:85%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.far {
  float:right;
  margin-top:-20px;
  margin-right:5px;
  color:#D2Df7F;
}

.icons {
  text-align:left;
  margin-left:25px;
  color:#FBC99A;
  margin-top:40px;

  font-family:Montserrat;
  font-weight:bolder;

  span {
    color:#D2Df7F;
    font-family:Raleway;
    font-weight:bolder;
  }
}

.user-image {
  height:100px;
  padding:0 10px 0 0;
}

.nav-links-box {
  border:1px solid #333;
  padding:30px;
  width:80%;
  position:relative;
  top:26%;
  left:10%;
}

.fab {
  color:#333;
  position:relative;
  left:0;
  font-size:20px;
}

.fa-twitter-square {
  top:28%;
  margin:0 5px 0 0;
}

.fa-facebook-square {
  top:28.2%;
}
.signups {
  width:30%;
  margin: 30px auto;
  background-color:white;
  padding:20px;
  border:1px solid #eee;
}
