#app {
  width:100%;
  min-height:93vh;
}

body {
  background-color: #F5F8F8;
  height:100vh;
}

.basicset {
  margin-top:10px;
}

.newPostButton {
  background-color:#D2Df7F;
  height:80px;
  width:80px;
  text-align: center;
  position:fixed;
  bottom:0;
  right:0;
  margin:40px;
  box-shadow: 0px 3px 0 0 #333;
  border-radius: 100px;
  display:table;

  a {
    font-size: 3em;
    color:#FFF;
    display: table-cell;
    vertical-align: middle;
  }
  &:active {
    box-shadow: none;
    border: 2px inset #BDC872;
  }
}

.container {
  max-width:100%;
  margin:0px;
}

.row {
  margin-right:0px;
}

.btn {
  margin:0 10px 0 0;
}

.navbar {
  padding:0 0 0 20px;
  background-color: #fff;
  border-top:5px solid #FBC99A;
  border-bottom:1px solid #F2F2F2;
  z-index: 2;
}

.navbar-brand {
  line-height:2em;
  font-size: 26px;
}

.sidenav {
  width:400px;
  position:relative;
  top:-5%;
  height: 100%;
}

.sidenav-content {
  padding:180px 20px 0 20px;
  height: 100%;
  text-align:center;
  background-color: #FFF;
  position:fixed;
  left:0;
}

.sidebar:hover {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: pink;
}
.basicset {
  //for main text area
}

.navBarUserIcon {
  height:80px;
  width:80px;
  padding:5px;
  border:1px solid #efefef;
}
.media-body {
  text-align: right;

  a {
    font-family:Montserrat;
    font-size:32px;
    text-transform: lowercase;
    color:#FBC99A;
    margin:0 0 -10px 0;
  }
  a:hover {
    text-decoration: none;
  }
}

.usertext {
  font-size:12px;
  background-color:#D2Df7F;
  width:150px;
  margin-left:auto;

  p {
    padding-right:5px;
  }
}

.media {
  padding:0 10px 0 10px;
  margin-bottom:30px;
}
.userAboutText {
  font-size: 12px;
  display: table;

  p {
    width:355px;
    padding:20px;
    height: 130px;
    display: table-cell;
    vertical-align: middle;
  }
}
.squarebrackets {
  background-image: linear-gradient(#F2F2F2, #F2F2F2),
  linear-gradient(#F2F2F2, #F2F2F2),
  linear-gradient(#F2F2F2, #F2F2F2),
  linear-gradient(#F2F2F2, #F2F2F2);

  background-repeat: no-repeat;
  background-size: 8px 2px;

  background-position: top left, top right, bottom left, bottom right;

  border: solid #F2F2F2;
  border-width: 0 2px;
  height:130px;
}

.sidenav-links1 {
  margin:0 auto;
  width:360px;
  background-color: #f2f2f2;
  height:1px
}

.far {
  float:right;
  margin-top:-20px;
  margin-right:5px;
  color:#D2Df7F;
}

.icons {
  text-align:left;
  margin-left:25px;
  color:#FBC99A;
  margin-top:40px;

  font-family:Montserrat;
  font-weight:bolder;

  span {
    color:#D2Df7F;
    font-family:Raleway;
    font-weight:bolder;
  }
}

.linkscontainer {
  margin-top:20px;
}

.navlinks {
  background-color:#D2Df7F;
  width:150px;
  display:inline-block;
  margin:0 5px 5px 0;

  a {
    color:brown;
    font-variant:small-caps;
    text-transform: uppercase;
    font-family:sans-serif;
    font-size:11px;
    line-height: 2;
  }
  a:hover {
    text-decoration: none;
  }
}
.navlinks:hover {
  background-color:#FBC99A;
  transition-duration: 0.2s;
}
a {
  color:grey;
  font-family: Roboto;
}
.signedinButton {
  border-top:1px solid #F2F2F2;
  padding:5px;
  text-align: right;

  input {
    margin-top:10px;
    background-color:#F2F2F2;
    outline:none;
    border-radius:5px;
    font-size:12px;
    text-transform: lowercase;
    font-variant: small-caps;
  }
}
