html, body {
  height:100%;
}
.ui.grid {
  height:100%
}

.ui.inverted.vertical.labeled.icon.ui.overlay.left.visible.sidebar.menu {
width:20%;
}

.ui.grid>[class*="four wide"].column {
  padding:0;
  margin-left:14px;
}

.ui.grid {
  height:100%;
  padding:0;
}
.ui.comments {
  max-width:100%;
}
.ui.compact.button {
  width:80px;
}
.newPostButton {
  background-color:#D2Df7F;
  height:80px;
  width:80px;
  text-align: center;
  position:fixed;
  bottom:0;
  right:0;
  margin:40px;
  box-shadow: 0px 3px 0 0 #333;
  border-radius: 100px;
  display:table;

  a {
    font-size: 3em;
    color:#FFF;
    display: table-cell;
    vertical-align: middle;
  }
  &:active {
    box-shadow: none;
    border: 2px inset #BDC872;
  }
}

.btn {
  margin:0 10px 0 0;
}
.navbar-brand {
  line-height:2em;
  font-size: 26px;
  font-family:Montserrat;
  font-size: 26px;
  font-weight:bold;
}

.sidenav {
  width:400px;
  position:relative;
  top:-5%;
  height: 100%;
}

.far {
  float:right;
  margin-top:-20px;
  margin-right:5px;
  color:#D2Df7F;
}

.icons {
  text-align:left;
  margin-left:25px;
  color:#FBC99A;
  margin-top:40px;

  font-family:Montserrat;
  font-weight:bolder;

  span {
    color:#D2Df7F;
    font-family:Raleway;
    font-weight:bolder;
  }
}

.signedinButton {
  border-top:1px solid #F2F2F2;
  padding:5px;
  text-align: right;

  input {
    margin-top:10px;
    background-color:#F2F2F2;
    outline:none;
    border-radius:5px;
    font-size:12px;
    text-transform: lowercase;
    font-variant: small-caps;
  }
}

.deleteButton {
  background-color:transparent;
  margin-right:5px;
  margin-top:5px;
}
.deleteButtonsep {
  border-top:1px solid #f2f2f2;
  padding:5px;
}
